:root {
  font-size: 1em;
  box-sizing: border-box;
}

/* font-family: 'Inter', sans-serif; */

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.27;
  font-style: normal;
  font-weight: 400;
  color: #fff;
  padding: 0;
  margin: 0;
  background-color: #212529;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  max-width: 1360px;
  padding: 0 0.625em;
  margin: 0 auto;
}

/* ================= Header ============== */

.Header {
  display: flex;
  justify-content: space-between;
  min-height: 6.25em;
  padding: 0.625em 0;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: 6.25em;
}
.logo {
  display: block;
  width: 90px;
  height: 66px;
  background-image: url("../icons/logo.svg");
  background-repeat: no-repeat;
}
.nav {
  flex: 1 1 auto;
}
.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.nav-item + .nav-item {
  margin-left: 1em;
}
.nav-link {
  display: block;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.5;
  text-transform: capitalize;
  padding: 0.55em 5px;
}
.nav-link:hover {
  color: #ffb742;
}
.header-btn {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.67;
  padding: 0.555em 1.37em;
  background-color: #ffb742;
  border: 2px solid #ffb742;
  border-radius: 2.7em;
}
.header-btn:hover {
  background-color: #eaa331;
}

/* ================= hero ============== */

.hero {
  text-align: center;
  padding: 7.5em 0 6.25em;
}
.hero__sup-title {
  font-family: "Inter";
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.6;
  text-transform: capitalize;
  color: #ffffff;
}
.hero__sup-title span {
  color: #ffb742;
  border-bottom: 3px solid #ffb742;
}
.hero__title {
  font-family: "Inter";
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.9;
  color: #ffffff;
  margin: 0;
}
.hero__text {
  font-family: "Inter";
  font-size: 1.5rem;
  line-height: 2.12;
  text-transform: capitalize;
  color: #ffffff;
  margin: 1.05em 0 0.92em;
}
.hero__avatar {
  display: flex;
  justify-content: center;
  background-image: url("../icons/Avatar.svg");
  background-repeat: no-repeat;
  width: 210px;
  height: 222px;
  margin: 0 auto;
}

/* ================= Advantages ============== */

.advantages {
  padding: 0.625em 0;
  margin: 24px 0 40px;
}
.container-adv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 1.88em;
}
.advantages__item {
  position: relative;
  display: flex;
  justify-content: start;
  text-align: center;
  flex-wrap: wrap;
  width: 31.3%;
  padding: 1.53em 1.25em 1.53em 1.87em;
  background: rgba(56, 62, 69, 0.44);
  border-radius: 10px;
}
.advantages__item:hover {
  background-color: #ffb742;
}
.advantages__item:hover .advantages-text {
  color: #000;
}
.advantages__item:hover .advantages-text span {
  color: #000;
}
.advantages__item:hover .arrow-right-gray {
  background-image: url("../icons/adv_arrow-black.svg");
}
.advantages-img__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  background-color: #e9e9e9;
  border-radius: 50%;
}
.advantages-text {
  font-family: "Inter";
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.26;
  text-transform: capitalize;
  color: #ffb742;
  margin-left: 1.25em;
}
.adv-mr {
  margin-left: 2.1em;
}
.advantages-text span {
  display: block;
  font-weight: 700;
  font-size: 0.563em;
  line-height: 1.72;
  color: #ffffff;
}
.arrow-right-gray,
.arrow-right-black {
  position: absolute;
  width: 6.8px;
  height: 11.6px;
  top: 55px;
  right: 36px;
}
.arrow-right-gray {
  background-image: url("../icons/adv_arrow-gray.svg");
}
.arrow-right-black {
  background-image: url("../icons/adv_arrow-black.svg");
}

/* ================= About Me ============== */

.about-me {
  padding: 5.62em 0 0;
  margin-bottom: 1.87em;
}
.about-me__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-me__img {
  width: 46.2%;
}
.about-me__descr {
  width: 52.2%;
  padding: 0px 0.625em 0px 1.68em;
}
.btn-dark {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5;
  text-transform: uppercase;
  color: #ffb742;
  padding: 0.35em 1.25em;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 2.5em;
}
.btn-dark:hover {
  color: #212529;
  background-color: #eaa331;
}
.title {
  font-weight: 700;
  font-size: 3rem;
  color: #ffffff;
  margin: 0.3em 0 0;
}
.about-me__text {
  font-size: 1rem;
  line-height: 1.87;
  color: #d5d5d5;
  margin: 0.94em 0 3.37em;
}
.about-me__btn--yellow {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.67;
  color: #212529;
  background-color: #ffb742;
  padding: 0.7em 2.21em;
  border-radius: 2.5em;
}
.about-me__btn--yellow:hover {
  color: #ffb742;
  background: rgba(255, 255, 255, 0.08);
}

/*  ================= my works ============== */

.my-works {
  text-align: center;
  padding: 0.88em 0 7.25em;
}
.my-works__nav {
  margin: 1.87em 0 3.12em;
}
.mw-nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.mw-nav-item + .mw-nav-item {
  margin-left: 1.87em;
}
.mw-nav-link {
  display: block;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.87;
  color: #ffffff;
  padding: 0.31em 1.25em;
  border-radius: 3px;
}
.mw-nav-link:hover {
  background-color: #ffb742;
}
.my-works__fav-top,
.my-works__fav-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.my-works__fav-bottom {
  margin-top: 2em;
}
.my-works__fav-img + .my-works__fav-img {
  margin-left: 2em;
}
.my-works__fav-img:hover {
  opacity: 0.9;
}

/* ================= footer ============== */
.footer {
  padding: 9.12em 0 12em;
  background-color: #1c1c1c;
}
.container-footer {
  display: flex;
  justify-content: space-between;
  align-items: top;
  flex-wrap: wrap;
  padding: 0 0.87em;
}
.footer__name {
  width: 20%;
}
.footer__title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 100%;
  color: #ffb742;
  margin: 0;
}
.footer__name-text {
  font-weight: 600;
  font-size: 1rem;
  line-height: 2;
  color: #d4d4d4;
  margin: 2.75em 0 0;
}
.news {
  width: 23.5%;
}
.news__text {
  margin: 0;
}
.footer__subtitle {
  font-weight: 700;
  font-size: 1.37rem;
  line-height: 2;
  color: #f5fbf2;
  margin: 0 0 0.9em;
}
.footer-link {
  display: inline-block;
  padding: 5px 10px;
}
.footer-link:hover {
  color: #8a8a8a;
}
.footer__descr {
  font-weight: 500;
  font-size: 1.12em;
  line-height: 2;
  color: #7b7b7b;
}
