html,
body {
  font-family: "Inter", "arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.slogan-h {
  font-size: 48px;
  text-align: center;
  color: #0bbbd3;
  padding: 18px 0 20px;
  line-height: 1.35;
}

.slogan-h .with {
  color: #000;
}

.slogan-h .ukr {
  color: #28cde3;
}

.promo {
  height: 852px;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-top: 1px solid transparent;
}

.text {
  margin: 218px 0 246px 0;
  width: 877px;
  height: 388px;
}

.text span {
  display: inline-block;
  background-image: url("../img/flag.jpg");
  width: 24px;
  height: 388px;
  margin-right: 59px;
}

.title {
  display: inline-block;
  font-weight: 700;
  font-size: 64px;
  margin: 0;
  color: #fff;
  line-height: 1.67;
  letter-spacing: 0.7px;
  vertical-align: top;
  padding-top: 30px;
}

.content {
  padding: 42px 0 182px 0;
}

h2 {
  padding-bottom: 16px;
  font-size: 48px;
  font-weight: 700;
  border-bottom: 5px solid #33b8f1;
  width: 361px;
  margin-bottom: 75px;
}

.card {
  display: inline-block;
  vertical-align: top;
  width: 400px;
  height: 481px;
  background: #fffefe;
  box-shadow: 0px 4px 6px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.card + .card {
  margin-left: 33px;
}

.card a {
  text-decoration: none;
}

.card h3 {
  margin: 0;

  font-weight: 700;
  font-size: 35px;
  line-height: 1.5;
  color: #030303;
}

.card .mb {
  margin-bottom: 19px;
}
.card p {
  margin: 0;
  font-size: 32px;
  line-height: 1.5;
  color: #595050;
}

.heading-block {
  text-align: center;
  margin: 59px 0 23px;
}
.heading {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.67;
  color: #000000;
}

.heading-block span {
  display: inline-block;
  vertical-align: top;
  border-top: 5px solid #33b8f1;
  width: 361px;
}

.heart {
  text-align: center;
}

.heart img {
  margin-bottom: -57px;
}

.button {
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.67;
  color: #ffffff;
  width: 430px;
  height: 74px;
  background: #33adf1;
}

footer {
  padding: 49px 0 18px 0;
  background-color: #0a2da9;
  text-align: center;
}
.slogan-f {
  font-size: 64px;
  color: #0bbbd3;
  line-height: 1.35;
}

.slogan-f .with {
  color: #f8f5f5;
}

.slogan-f .ukr {
  color: #28cde3;
}

.contacts {
  width: 340px;
  display: inline-block;
  margin-bottom: 42px;
}

.contacts a {
  display: inline-block;
  text-decoration: none;
  font-size: 32px;
  line-height: 1.35;
  color: #353949;
}

.email {
  margin-top: 15px;
  padding: 10px 20px 10px;
}

.tel {
  margin-top: 15px;
  padding: 10px 20px 10px;
}

.socials a {
  display: inline-block;
  vertical-align: middle;
  width: 68px;
  height: 64px;
  background: #0931bf;
  border-radius: 50%;
}

.socials a + a {
  margin-left: 58px;
}

.tw {
  line-height: 88px;
}

.tg {
  line-height: 105px;
}

.inst {
  line-height: 102px;
}
.fb {
  line-height: 99px;
}
