@font-face {
  font-family: "PT sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/PTSans-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/PTSans-Bold.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/PTSans-BoldItalic.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/PTSans-Italic.woff2") format("woff2");
  font-display: swap;
}
html,
body {
  font-size: 1em;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: "PT sans", sans-serif;
  line-height: 1.27;
  font-style: normal;
  font-weight: 400;
  color: #202846;
  padding: 0;
  margin: 0;
  background-color: #dcdcdc;
}
.container {
  max-width: 1520px;
  padding: 0 0.937em;
  margin: 0 auto;
}

/* ======================== header ===================== */

.header {
  background-color: #202846;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 3.938em 0 8.625em;
  min-height: 5.625em;
}
.logo {
  height: 70px;
}
.header-right {
  display: flex;
  align-items: center;
}
.navigation-list {
  display: flex;
  align-items: center;
  justify-content: end;
  text-align: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.navigation-item {
  flex-basis: 10.625em;
  font-size: 1.5rem;
}
.navigation-link {
  display: block;
  font-family: inherit;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.3;
  padding: 0.3em 0.625em;
  margin-right: 4.187em;
}
.lang-selection {
  display: flex;
  justify-content: end;
  position: relative;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 2.25;
  text-decoration: none;
  width: 4.21em;
}
.lang-selection::before {
  content: " ";
  position: absolute;
  background-image: url("../icons/planet.svg");
  width: 2.143em;
  height: 2.143em;
  left: 0;
}

/* ======================== Забронювати будиночок ===================== */

.house-rent {
  padding-bottom: 16.56em;
}
.title-bg {
  margin-top: 5.625em;
  padding: 2.44em 0 2.44em;
  background-color: #c6c6dc;
}
.title {
  font-style: italic;
  font-weight: 400;
  font-size: 3rem;
  line-height: 1.29;
  padding-left: 0.17em;
}
.location {
  position: relative;
  font-size: 1.75rem;
  line-height: 1.28;
  text-align: center;
  color: rgba(0, 0, 0, 0.75);
  background-color: #e8e8e8;
  padding: 0.661em 0 0.667em;
  margin: 2em 0 0;
}
.location-btn {
  display: none;
  position: absolute;
  width: 1em;
  height: 0.857em;
  top: 27px;
  right: 23px;
  border: none;
  cursor: pointer;
  background-color: #e8e8e8;
}
.location-arrow {
  position: absolute;
  width: 1em;
  height: 0.857em;
  top: 27px;
  right: 18px;
  cursor: pointer;
}
.location-select {
  vertical-align: middle;
  margin-top: 15px;
  display: none;
}
.location-select li {
  padding: 0.35em 0;
  border-top: 1px solid #353c57;
}
.location-select li:hover {
  background-color: #b5b1b1;
}
.location-btn:checked ~ .location-select {
  display: block;
}
.card-descr {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #bdbdc6;
  padding: 1.75em 5.437em 1.75em 6.437em;
  margin-top: 2.25em;
}
.marg-top {
  margin-top: 3.5em;
}
.card-descr__content {
  width: 54.8%;
}
.card-descr__title {
  font-style: italic;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1.3;
  color: #353c57;
  margin-bottom: 0.25em;
  border-bottom: 3px solid #ffffff;
}
.card-descr__text {
  font-size: 1.375rem;
  line-height: 1.27;
  text-align: center;
  color: #202846;
  margin: 0;
  background-color: #d7d7dd;
}
.card-text-1 {
  padding: 1.636em 1.59em 1.727em 1.68em;
}
.card-text-2 {
  padding: 0.954em 3.863em 0.954em 5.227em;
}
.card-text-3 {
  padding: 1.4em 0.77em 1.59em 1.136em;
}
.card-text-4 {
  padding: 0.954em 0.454em 0.954em 0.545em;
}
.star-svg {
  position: absolute;
  top: 1.125em;
  right: 1.125em;
}
.btn-card {
  position: absolute;
  right: -1.7em;
  bottom: 0.5em;
  font-size: 1.5rem;
  line-height: 1.29;
  color: #fff;
  background-color: #202846;
  padding: 0.5em 1.375em 0.54em 1.375em;
  border-radius: 1.25em;
  border: none;
  cursor: pointer;
}
.card-descr:hover {
  background-color: #aeaee2;
  box-shadow: 5px 5px 30px rgba(0, 0, 255, 0.25);
}
.card-descr:hover .btn-card {
  background-color: #ef075b;
}
.card-descr:hover .star-svg path {
  fill: #ffff00;
}

/* ======================== Особистий кабінет ===================== */

.person-account {
  padding-bottom: 13.56em;
}
.person-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.937em 0 0.937em;
  margin: 2.56em auto 0;
  width: 88.4%;
  background-color: #bdbdc6;
}
.person-avatar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 15.7em;
  height: 23.125em;
}
.btn-person-avatar-light {
  font-size: 1.5rem;
  color: #fff;
  background-color: #69749b;
  padding: 0.66em 1.67em 0.66em 1.7em;
  border-radius: 2.1em;
  border: none;
  cursor: pointer;
}
.btn-person-avatar-dark {
  font-size: 1.5rem;
  color: #fff;
  background-color: #484a54;
  padding: 0.66em 1.7em 0.66em 1.7em;
  border-radius: 2.1em;
  border: none;
  cursor: pointer;
}
.person-data {
  width: 67%;
}
.person-data p {
  font-style: italic;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1.2;
  color: #353c57;
  padding-bottom: 0.14em;
  margin-left: 2.6em;
  border-bottom: 3px solid #ffffff;
}
.person-data p:last-child {
  border-bottom: none;
}
.person-data span {
  font-weight: 400;
}

/* ======================== Контакти ===================== */

.contacts-top {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  padding: 4.19em 1.9em 0 13.75em;
}
.contacts-top div + div {
  margin-left: 8.123em;
}
.contacts-title {
  font-size: 2rem;
  line-height: 1.06;
  margin-bottom: 0.53em;
  border-bottom: 3px solid #202846;
}
.contacts-text {
  font-size: 1.87rem;
  line-height: 1.3;
}
.contacts-top__item {
  width: 21%;
}
.contacts-top__item p {
  text-align: center;
  margin: 0;
}
.contacts-bottom {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  padding: 0 1.9em 3.56em 13.75em;
  margin-top: 4em;
}
.contacts-bottom__address {
  width: 34%;
  margin: 1.87em 7.37em 0 0;
}

/* ======================== footer ===================== */

.footer {
  font-style: italic;
  font-size: 2.25rem;
  line-height: 1.3;
  color: #eeecf1;
  background-color: #202846;
  padding: 0.86em 3.2em 0.86em 3.2em;
}
