html {
  font-size: 10px;
}
body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  background-image: linear-gradient(120.21deg, #3e708e 11.18%, #64969b 74.17%);
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1440px;
  min-height: 1024px;
}

.form-block {
  position: relative;
  width: 54.7%;
  padding: 4rem 6.4rem 9.2rem 6.4rem;
  background-color: #fff;
}

.stroke {
  position: absolute;
  width: 85%;
  height: 550px;
  background-image: url("../img/stroke.svg");
  left: 0;
  top: 0;
  z-index: 1;
}

.form-block > a {
  position: relative;
  display: inline-block;
  font-weight: 700;
  font-size: 2.4rem;
  margin-bottom: 13.6rem;
  background: linear-gradient(
    93.38deg,
    #496f74 -3.47%,
    #6e9195 35.61%,
    #2d4f61 84.29%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  z-index: 10;
}

.form {
  position: relative;
  width: 400px;
  margin: 0 12.6rem 0 13rem;
  z-index: 10;
}

.form__title {
  font-weight: 700;
  font-size: 2.4rem;
  margin-bottom: 8rem;
}

.form__group {
  margin-bottom: 2.4rem;
}

.form__label {
  margin-bottom: 0.4rem;
}

.form__input {
  width: 100%;
  height: 40px;
  padding: 0 1.6rem;
  border: 1px solid #cccccc;
  border-radius: 4px;
  background-color: transparent;
}

.form__input::placeholder {
  font-size: 1.2rem;
  color: #cccccc;
}

.pass {
  background: url("../img/eye.svg") no-repeat 95%;
}

.select__input {
  background: url("../img/arrow.svg") no-repeat 95%;
  appearance: none;
}

.color-gray,
.select__input {
  font-size: 1.2rem;
  color: #cccccc;
}

.pass-text {
  margin: 0;
}

.m-l {
  margin-left: 0.9rem;
}

.m-top-bot {
  margin-top: 1.2rem;
  margin-bottom: 0.8rem;
}

.btn {
  font-weight: 700;
  color: #ffffff;
  background: #27485d;
  border: 1px solid #284a5e;
  box-shadow: 0px 2px 2px 2px rgba(204, 204, 204, 0.1);
  border-radius: 4px;
  width: 100%;
  padding: 1.15rem 0;
  text-align: center;
  margin-bottom: 3.2rem;
}

.form-block__bottom {
  text-align: center;
  margin: 0 auto;
  font-size: 1.6rem;
  font-weight: 700;
}

.span-bottom {
  color: #c4c4c4;
}

.login-link {
  display: inline-block;
  color: #476d73;
  text-decoration-line: underline;
  padding: 0 0.5rem;
}

.text-block {
  width: 45.3%;
  color: #ffffff;
  padding: 4rem 15rem 0px 9rem;
  background: linear-gradient(162.21deg, #517879 4.83%, #1e3e57 103.44%);
}

.nav {
  display: flex;
  justify-content: end;
  margin-bottom: 28.5rem;
}

.nav .nav__item {
  margin: 0 1.2rem;
}

.nav .nav__item .nav__link {
  font-weight: 700;
}

.text-block .text-block__title {
  display: block;
  font-weight: 700;
  font-size: 6.4rem;
  margin-bottom: 1.6rem;
}

.text-block > span {
  display: block;
  font-weight: 700;
}
